<div class="footer">
    <footer>
        <div class="copyrights">
            <p>Copyright 2021</p>
            <p>LaCinquette</p>
        </div>
        <div class="Timer">
            <span id="Time"></span>
        </div>
    </footer>
</div>