<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="blog.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Blog</title>
</head>
<body>
    <div class="header">
        <h2>My blog</h2>
    </div>
      
    <div class="row">
        <div class="card">
            <h2 class="title">TITLE HEADING</h2>
            <h5 class="date">Dec 7, 2017</h5>
            <div class="text">
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
            <div class="reactions">
                <div class="likes">
                    20
                </div>
                <i class="material-icons like-button">favorite</i>
            </div>
        </div>
        <div class="card">
            <h2 class="title">TITLE HEADING</h2>
            <h5 class="date">Dec 7, 2017</h5>
            <div class="text">
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
            <div class="reactions">
                <div class="likes">
                    20
                </div>
                <i class="material-icons like-button">favorite</i>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <a class="page">1</a>
        <a class="page">2</a>
        <a class="page">3</a>
        <a class="page">4</a>
    </div>
</body>
<script src="blog.js"></script>
</html>