html{
  height: 100%;
  min-width: 450px;
}
* {
  box-sizing: border-box;
  font-weight: inherit;
}
body{
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}
button{
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
}
.menu-item {
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}
.menu-item:hover {
  background-color: rgb(49, 54, 97);
  border-color: transparent;
}

.content{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
header{
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #001227;
  position: fixed;
}
main{
  flex: 1 0 auto;
}
footer{
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
}
.menu{
  display: flex;
  flex-direction: row;
}
.menu-item{
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0B0C10;
  color: #45A29E;
  font-style: italic;
  font-weight: 400;
}
.viewing{
  text-decoration: underline;
  font-weight: 900;
}
.logo img{
  height: 60px;
  width: 60px;
}
.logo{
  height: 60px;
}
.header,header,.content,.heading,body,img,.logo,.menu{
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}
.copyrights{
  padding-left: 5%;
  text-align: left;
}
.Timer{
  text-align: right;
  padding-right: 5%;
}
article{
  margin-top: 10px;
  margin-bottom: 10px;
}
section{
  margin-top: 3px;
  margin-bottom: 3px;
}
article.gallery{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-content,article.gallery,main,footer,.cat-gallery_name,.series,.series-name{
  background-color: #0B0C10;
  color: #C5C6C7;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}
.cat-gallery{
  background-color: #0B0C10;
  color: #C5C6C7;
  margin: 0px;
  padding: 0px;
  columns: 4 250px;
  column-gap: 1rem;
  max-width: 80%;
}
img{
  width: 100%;
  margin-bottom: 1rem;
}
.cat-gallery_name,.series,.series-name{
  text-align: center;
  font-size: 40px;
}

.cat-gallery_name{
  margin-top: -1px;
  margin-bottom: -1px;
}

.series-table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  overflow: auto;
}
td{
  padding: 10px;
}
caption{
  font-style: italic;
  font-size: 20px;
}
.main-content{
  margin-top: 60px;
  text-align: center;
}
.main-content ul{
  display: inline-block;
  text-align: left;
}
.menu-item{
  border: 2px solid #45A29E;
}
main{
  padding-left: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
} */

@media screen and (max-width: 500px) {
  .logo{
    display: none;
  }
  .menu{
    height: 60px;
    overflow-x: scroll;
  }
  header{
    justify-content: center;
  }
}

#about {
  display: block;
  position: relative;
  top: -50px; 
  visibility: hidden;
}
#projects {
  display: block;
  position: relative;
  top: -50px; 
  visibility: hidden;
}
#contacts {
  display: block;
  position: relative;
  top: -50px; 
  visibility: hidden;
}
.start-tour{
  margin: 30px 0px;
}
.tour,
input[type="submit"]{
	cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.tour:hover,
input[type="submit"]:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-white{
    border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
}
.btn-white:hover{
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
}

.colm-form .form-container {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 20px;
  max-width: 400px;
}

.colm-form .form-container input, .colm-form .form-container .btn-login {
  width: 100%;
  margin: 5px 0;
  height: 45px;
  vertical-align: middle;
  font-size: 16px;
}

.colm-form .form-container input {
  border: 1px solid #dddfe2;
  color: #1d2129;
  padding: 0 8px;
  outline: none;
}

.colm-form .form-container input:focus {
  border-color: #1877f2;
  box-shadow: 0 0 0 2px #e7f3ff;
}

.colm-form .form-container .btn-login {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 700;
}

.colm-form .form-container a {
  display: block;
  color: #1877f2;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0 20px;
  border-bottom: 1px solid #dadde1;
}

.colm-form{
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}

.colm-form .form-container a:hover {
  text-decoration: underline;
}

.colm-form .form-container .btn-new {
  background-color: #42b72a;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 20px; 
}

.colm-form p {
  font-size: 14px;
}

.colm-form p a {
  text-decoration: none;
  color: #1c1e21;
  font-weight: 600;
}

.colm-form p a:hover {
  text-decoration: underline;
}